Repository k8s-at-home/charts, pull requests merged in 2021-02, with the labels that each got.

#613 [youtubedl-material] new chart
  charts/youtubedl-material/.helmignore
  charts/youtubedl-material/Chart.yaml
  charts/youtubedl-material/OWNERS
  charts/youtubedl-material/README.md
  charts/youtubedl-material/README.md.gotmpl
  charts/youtubedl-material/README_CHANGELOG.md.gotmpl
  charts/youtubedl-material/README_CONFIG.md.gotmpl
  charts/youtubedl-material/templates/NOTES.txt
  charts/youtubedl-material/templates/common.yaml
  charts/youtubedl-material/values.yaml
Labels: new chart

#612 [mylar] new chart
  charts/mylar/.helmignore
  charts/mylar/Chart.yaml
  charts/mylar/OWNERS
  charts/mylar/README.md
  charts/mylar/README.md.gotmpl
  charts/mylar/README_CHANGELOG.md.gotmpl
  charts/mylar/README_CONFIG.md.gotmpl
  charts/mylar/templates/NOTES.txt
  charts/mylar/templates/common.yaml
  charts/mylar/values.yaml
Labels: new chart

#611 [airsonic] new chart
  charts/airsonic/.helmignore
  charts/airsonic/Chart.yaml
  charts/airsonic/OWNERS
  charts/airsonic/README.md
  charts/airsonic/README.md.gotmpl
  charts/airsonic/README_CHANGELOG.md.gotmpl
  charts/airsonic/README_CONFIG.md.gotmpl
  charts/airsonic/templates/NOTES.txt
  charts/airsonic/templates/common.yaml
  charts/airsonic/values.yaml
Labels: new chart

#610 [dizqueTV] Inital Commit
  charts/dizquetv/.helmignore
  charts/dizquetv/Chart.yaml
  charts/dizquetv/OWNERS
  charts/dizquetv/README.md
  charts/dizquetv/README.md.gotmpl
  charts/dizquetv/README_CHANGELOG.md.gotmpl
  charts/dizquetv/README_CONFIG.md.gotmpl
  charts/dizquetv/templates/NOTES.txt
  charts/dizquetv/templates/common.yaml
  charts/dizquetv/values.yaml
Labels: new chart

#608 [helm-docs] update script and create task
  .taskfiles/Taskfile_chart.yml
  hack/gen-helm-docs.sh
Labels: enhancement

#575 [wallabag] new chart
  charts/wallabag/Chart.yaml
  charts/wallabag/README.md
  charts/wallabag/README.md.gotmpl
  charts/wallabag/README_CHANGELOG.md.gotmpl
  charts/wallabag/README_CONFIG.md.gotmpl
  charts/wallabag/templates/NOTES.txt
  charts/wallabag/templates/common.yaml
  charts/wallabag/values.yaml
Labels: new chart

#624 [meta] Added wiki section and link [ci-skip]
  CONTRIBUTING.md
Labels: documentation

#596 [common] 3.1.0 Addition of secret kind
  charts/common/Chart.yaml
  charts/common/README.md
  charts/common/README_CHANGELOG.md.gotmpl
  charts/common/templates/_all.tpl
  charts/common/templates/_secret.tpl
  charts/common/templates/lib/controller/_container.tpl
  charts/common/values.yaml
  test/charts/common-test_spec.rb
Labels: enhancement
