Repository k8s-at-home/charts, pull requests merged in 2021-06, with the labels that each got.

#929 [mealie] Add new chart
  charts/stable/mealie/.helmignore
  charts/stable/mealie/Chart.yaml
  charts/stable/mealie/README.md
  charts/stable/mealie/README.md.gotmpl
  charts/stable/mealie/README_CHANGELOG.md.gotmpl
  charts/stable/mealie/README_CONFIG.md.gotmpl
  charts/stable/mealie/templates/common.yaml
  charts/stable/mealie/values.yaml
Labels: enhancement, new chart

#1033 [owncloud-ocis] New Chart
  charts/stable/owncloud-ocis/.helmignore
  charts/stable/owncloud-ocis/Chart.yaml
  charts/stable/owncloud-ocis/README.md
  charts/stable/owncloud-ocis/README.md.gotmpl
  charts/stable/owncloud-ocis/README_CHANGELOG.md.gotmpl
  charts/stable/owncloud-ocis/README_CONFIG.md.gotmpl
  charts/stable/owncloud-ocis/templates/NOTES.txt
  charts/stable/owncloud-ocis/templates/common.yaml
  charts/stable/owncloud-ocis/values.yaml
Labels: new chart

#1032 [icinga2] New Chart
  charts/stable/icinga2/.helmignore
  charts/stable/icinga2/Chart.yaml
  charts/stable/icinga2/README.md
  charts/stable/icinga2/README.md.gotmpl
  charts/stable/icinga2/README_CHANGELOG.md.gotmpl
  charts/stable/icinga2/README_CONFIG.md.gotmpl
  charts/stable/icinga2/templates/NOTES.txt
  charts/stable/icinga2/templates/common.yaml
  charts/stable/icinga2/values.yaml
Labels: new chart

#1041 [komga] New Chart
  charts/stable/komga/.helmignore
  charts/stable/komga/Chart.yaml
  charts/stable/komga/README.md
  charts/stable/komga/README.md.gotmpl
  charts/stable/komga/README_CHANGELOG.md.gotmpl
  charts/stable/komga/README_CONFIG.md.gotmpl
  charts/stable/komga/templates/NOTES.txt
  charts/stable/komga/templates/common.yaml
  charts/stable/komga/values.yaml
Labels: new chart

#1066 [minio-console] Add new Chart
  charts/stable/minio-console/.helmignore
  charts/stable/minio-console/Chart.yaml
  charts/stable/minio-console/README.md
  charts/stable/minio-console/README.md.gotmpl
  charts/stable/minio-console/README_CHANGELOG.md.gotmpl
  charts/stable/minio-console/README_CONFIG.md.gotmpl
  charts/stable/minio-console/templates/NOTES.txt
  charts/stable/minio-console/templates/common.yaml
  charts/stable/minio-console/values.yaml
Labels: new chart

#1068 joplin-server Bump version of Joplin Server to 2.1.2 (Latest Stable Version)
  charts/stable/joplin-server/Chart.yaml
  charts/stable/joplin-server/README.md
  charts/stable/joplin-server/README_CHANGELOG.md.gotmpl
  charts/stable/joplin-server/values.yaml
Labels: kind:incomplete-docs

#1061 [pod-gateway] Fix issue where values.yaml defined 'configFile' wouldn't work in vpn addon
  charts/stable/pod-gateway/Chart.yaml
  charts/stable/pod-gateway/README.md
  charts/stable/pod-gateway/README_CHANGELOG.md.gotmpl
  charts/stable/pod-gateway/values.yaml
Labels: bug
